*~
*.o
*.so
*.sql-out
*.sql-out-err
TAGS
TAGS-*
Limbo
C_lib
Doc
S1_spx
S2_core
S3_more
S4_doc
S5_xml
S6_http
S7_wicci
Shim
Test
XFiles
.emacs.desktop
GREG-READ
STATUS
bar.sql
foo.sql
quiz.sh
quiz.sql
settings.sql-pre9.2
sher-talk.txt
sp2-to-tab.ed
the-output
wicci-today
