local-core-status.org
*~
*.o
*.so
*.out
*.sql-out
*.sql-out-err
TAGS
TAGS-*
Limbo
Makefile.depends
Doc
S1_refs
S2_core
S3_more
S4_doc
S5_xml
S6_http
S7_wicci
Shim
Test
XFiles
.emacs.desktop
GREG*
STATUS
[Tt]mp
[Tt]emp
[Ff]oo
[Bb]ar
tmp.*
foo.*
bar.*
*.tmp
*.foo
*.bar
quiz.sh
quiz.sql
settings.sql-pre9.2
sher-talk.txt
sp2-to-tab.ed
the-output
wicci-today
Clojure
ClojureScript
